code {
    background-color: powderblue;
    font-size: 110%;
}

.box {
    background-color: gold;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    user-select: none;
}

.box.big {
    background-color: coral;
}

.box.big.huge {
    background-color: brown;
}
